@media(max-width:1024px){

    .container{
        width:96%;
    }

    .toolbar{
        grid-template-columns:1fr 1fr;
    }

    header h1{
        font-size:28px;
    }

}


@media(max-width:768px){

    header{
        flex-direction:column;
        align-items:flex-start;
    }

    header h1{
        font-size:24px;
    }

    #addTicketBtn{
        width:100%;
    }

    .dashboard{
        grid-template-columns:1fr 1fr;
    }

    .toolbar{
        grid-template-columns:1fr;
    }

    .modal-content{
        padding:20px;
    }

    .detail-row{
        flex-direction:column;
        align-items:flex-start;
        gap:8px;
    }

    .detail-value{
        max-width:100%;
        text-align:left;
    }

}


@media(max-width:576px){

    body{
        padding:10px;
    }

    .container{
        width:100%;
        margin:15px auto;
    }

    header h1{
        font-size:21px;
    }

    .dashboard{
        grid-template-columns:1fr;
    }

    .card{
        padding:20px;
    }

    .card p{
        font-size:30px;
    }

    .toolbar input,
    .toolbar select{
        font-size:14px;
    }

    table{
        min-width:900px;
    }

    .modal{
        padding:10px;
    }

    .modal-content{
        width:100%;
        padding:18px;
    }

    .view-btn,
    .edit-btn,
    .delete-btn{
        display:block;
        width:100%;
        margin:5px 0;
    }

    .page-btn{
        padding:7px 12px;
    }

}